#public net.minecraft.client.entity.EntityPlayerSP field_71156_d   #sprintToggleTimer
#public net.minecraft.util.ScreenShotHelper field_74293_b   #pixelBuffer
#public net.minecraft.util.ScreenShotHelper field_74294_c   #pixelValues
#public net.minecraft.item.ItemDoor field_179236_a   #block
#public net.minecraft.client.gui.GuiTextField field_146226_p #isEnabled
